/* Setting Variables to control color scheme throughout page */
/* :root {
    
} */

html {
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* used grid settings from revolut to mirror centre alignment and broken sections */
.wrapper{
    display: grid;
    grid-gap: 1.5rem;
    min-height: 100vh;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
}

body {
/* gradiant */
background-color: e9ebee;
}

.top-menu {
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  list-style: none;
  margin: 0; 
  background: deepskyblue;

}

.links {
    display: inline-block;
    width: 100px; 
    height: 50px;
    margin: auto;
    padding: 1em;
    font-size: 1rem;
    
}

.logo {
    order: -1;
    margin-left: auto;
}
