/* Setting Variables to control color scheme throughout page */
/* :root {
    
} */

html {
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* used grid settings from revolut to mirror centre alignment and broken sections */
.wrapper {
    display: grid;
    gap: 1.5rem;
    min-height: 100vh;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
}

body {
    background-image: linear-gradient(to bottom, #ffc35e, #ff8f6d, #ff6499, #c25dc9, #076ae1);
}

.top-menu {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    background: #076ae1;
}


.logo {
    width: auto;
    height: 150px;
}

.nav_links {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    list-style-type: none;
    gap: 30px;
}

.nav_links a {
    color: white;
}

.nav_links a:hover {
    background: #076ae1;
  }