@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Raleway:wght@300&display=swap');


/* Setting Variables to control color scheme throughout page */
/* :root {
    
} */

* {
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Fredoka, sans-serif;
    font-weight: 300;
    background-image: #f5f8fa;
    /* background-image: linear-gradient(to bottom, #ffc35e, #ff8f6d, #ff6499, #c25dc9, #076ae1); */
}

/* used grid settings from revolut to mirror centre alignment and broken sections */
.wrapper {
    display: grid;
    gap: 1.5rem;
    min-height: 100vh;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 100%;
}

/* headings */

h1,
h2 {
    font-family: Raleway, sans-serif;
    letter-spacing: 1.5px;
    font-size: x-large;

}

.top-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    height: 100%;
    background: #076ae1;
    border-radius: 10px;
}

.logo {
    padding: 10px;
    width: 100%;
    height: 75px;
    border-radius: 10px;
    
}


header ul {
    list-style-type: none
}

.nav_links {
    display: flex;
}

.nav_links a {
    padding: 0 15px 0 15px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

.nav_links a:hover {
    background: #076ae1;
    color: white;
}

/* hero section */

.hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}


.hero-image {
    height: 400px;
    width: 100%;
    background: url('../img/matt-le-SJSpo9hQf7s-unsplash.jpg') no-repeat center center;
    background-size: cover;
    /* background-image: linear-gradient(to bottom, #ffc35e, #ff8f6d, #ff6499, #c25dc9, #076ae1); */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#cover-text h1 {
    font-size: 40px;
}

#cover-text p {
    font-size: 20px;
}

/* hero image zoom effect */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    display: flex;
    gap: 10px;
    text-align: right;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Fredoka;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 500px;
    height: 200px;
    padding: 40px 15px 10px 10px;

    background-color: rgba(241, 109, 107, .7);
    color: #fff;

    bottom: 30px;
    right: 100px;
    position: absolute;
}

.button {
    color: white;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    margin-bottom: auto;
    width: auto;
    min-height: 30px;
        }

/* .button:hover {
      background-color: #ce0606;
    }
    
     .button:active {
      box-shadow: none;
      top: 2px;
    } */

/* about section */

.about {
    display: grid;
    justify-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 30px;
    border: solid 1px;
    background: #ffc35e;
    border-radius: 10px;
}

/* feature section */

.features {
    display: grid;
    justify-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 30px;
    border: solid 1px;
    background: #ff8f6d;
    border-radius: 10px;
}

.feature-right>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.reasons {
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}

.boxes {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    background: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    max-width: 300px;
  }
